.card
  .card-header
    Profile
  %ul.content-list
    %li
      %span.light Member since
      %strong= user.created_at.to_s(:medium)
    - unless user.public_email.blank?
      %li
        %span.light E-mail:
        %strong= link_to user.public_email, "mailto:#{user.public_email}"
    - unless user.website_url.blank?
      %li
        %span.light Website:
        %strong= link_to user.short_website_url, user.full_website_url
    - unless user.location.blank?
      %li
        %span.light Location:
        %strong= user.location
